[submodule "Practice_SQL_QUERIES"]
	path = Practice_SQL_QUERIES
	url = https://github.com/Fouad-Showmik/Practice_SQL_QUERIES.git
[submodule "practice_OOP_Java"]
	path = practice_OOP_Java
	url = https://github.com/Fouad-Showmik/practice_OOP_Java.git
[submodule "Practice_C-Sharp"]
	path = Practice_C-Sharp
	url = https://github.com/Fouad-Showmik/Practice_C-Sharp.git
[submodule "Practice_CRUD_.Net_Core"]
	path = Practice_CRUD_.Net_Core
	url = https://github.com/Fouad-Showmik/Practice_CRUD_.Net_Core.git
